/*GENERAL STYLES*/
body {
	font-family: Arial, Sans-Serif;
	font-size: 100%;
}

.container {
	margin: 0 auto;
	width: 960px;
}

/*HEADER*/
.header {
	padding: 50px 0;
	background-color: yellowgreen;
}

.header h1, .header h2 {
	color: greenyellow;
	text-align: center;
}

/*PAGE NAVIGATION*/
.page-navigation {
	background-color: #222;
	border-color: #9d9d9d;
}